html, body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: rgba(0,0,0,0);
  font-family: "Courier";
  color: #FFF;
  font-size: 10pt;
  justify-content: center;
  display: flex;
  overflow:visible;
  width: auto;
}

canvas{
  display: block;
}

#content {
  justify-content: center;
  display: flex;
  width: 900;
  padding: 0;
  font-family: "Courier";
  background-color: rgba(255,255,255,255)
  color: #FFF;
  font-size: 10px;
  position: relative;

}

#background {
  position: absolute;
  z-index: -2;
}

#overlay {
  height: 99%;
  width: 900;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  display: flex;
  background-color: rgba(20,20,20,0.5);
  border-radius: 25px;
  backdrop-filter: blur(8px);
  z-index: -1;
}
#divholder {
  width: 1300;
  height: auto;
  position: absolute;
  left: -550px;
  top: 20px;
}
